:root {
  --Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--Very-dark-blue-main-background);
  color: var(--White-main-heading-stats);
  font-size: 15px;
}

main {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto;
  height: 425px;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}

.stats {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: auto;
  padding: 45px 1rem 1rem 60px;
  background-color: var(--Dark-desaturated-blue-card-background);
}

.stats .stat--title {
  word-spacing: 5px;
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1rem 8rem 1rem 0rem;
}

.stats .stat--title span {
  color: var(--Soft-violet-accent);
}

.stats .stat--description {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--Slightly-transparent-white-main-paragraph);
  padding-right: 9rem;
  line-height: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.stats .stat--count {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  /* padding-right: 20rem; */
  font-weight: 700;
  width: 70%;
}

.stats .stat--count .stat-detail .count {
  margin-bottom: 0.6rem;
}

.count {
  font-size: 1.5em;
  font-family: "Inter", sans-serif;
}

.name {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--Slightly-transparent-white-stat-headings);
}

.stats-img {
  position: relative;
  width: 50%;
  height: inherit;
}

.stats-img img {
  width: 100%;
  height: inherit;
}
.stats-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  background: var(--Soft-violet-accent);
  background-size: 100% 100%;
  opacity: 0.5;
}

@media screen and (max-width: 376px) {
  body {
  }
  main {
    height: auto;
    padding: 4rem 0rem 4rem 0rem;
  }
  .container {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    width: 80%;
  }
  .stats-img {
    width: auto;
  }
  .stats {
    width: auto;
    padding: 1rem 1rem 1rem 1rem;
  }
  .stats .stat--title {
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
  }
  .stats .stat--description {
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    margin-top: unset;
    font-size: 0.8rem;
  }
  .stats .stat--count {
    width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: unset;
  }
  .stat-detail {
    margin-bottom: 1rem;
  }
  .name {
    font-size: 0.6rem;
  }
  .count {
    font-size: 1.3em;
  }
}

.attribution {
  position: absolute;
  bottom: 100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* font-family: 'Inter',
sans-serif;
font-family: 'Lexend Deca',
sans-serif; */
